<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css%} {% endblock css %}
    <script src="https://kit.fontawesome.com/68e33fc469.js" crossorigin="anonymous"></script>
    <title>{% block titulo %}{% endblock titulo%}</title>

</head>
<body>

     <!-- INÍCIO NAVBAR -->
    <header id="cabecalho">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>

            <a href="{{url_for('home')}}" id="logo">
                <span class="link-nav">Blog</span>
            </a>

            <ul id="itens">
                <li><a href="{{url_for('estatisticaDescritiva')}}" class="link-nav">Estatística descritiva</a></li>
                <li><a href="{{url_for('glossario')}}" class="link-nav">Glossário</a></li>

            </ul>
        </nav>
    </header>
    <!-- FIM NAVBAR -->

    <main class="container">
        {% block conteudo %}{% endblock conteudo %}
    </main>
    <!-- Inicio Rodapé  -->
    <footer id="rodape">
        <div id="conteudo-footer">
            <h4>Blog</h4>
            <div id="grupo-icones-footer">
                <a href="https://github.com/eduardooarruda/Blog-Probabilidade-Estatistica" target="_blank"><i class="fab fa-github icone-footer "></i></a>
                <!--<a href="mailto:eduardodossantosarrudag@gmail.com"><i class="fas fa-envelope icone-footer"></i></a>-->
            </div>
            <p id="copyright">Copyright  &copy;2022 Blog.</p>
        </div>
    </footer>
    <!-- Fim Rodapé -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>

</body>
</html>