{% extends 'base.html' %}

{% block css%} <link rel="stylesheet" href="{{ url_for('static', filename='css/glossario.css') }}">{% endblock css %}
{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
<!-- https://brasilescola.uol.com.br/matematica/estatistica-2.htm -->


 <h1 class="text-center">Glossário</h1>
  <div class="mt-4 p-5 rounded cor">
    <h2>A</h2>
    <p><b>Amostra:</b> Uma amostra é um conjunto de dados coletados e/ou selecionados de uma população estatística por um procedimento definido. É muito utilizado quando o conjunto de dados é muito grande. </p>
  </div>

  <div class="mt-4 p-5 rounded cor">
    <h2>C</h2>
    <p><b>Classes:</b> São intervalos numericos criados para facilitar o estudo de um conjunto de dados.</p>

  </div>

  <div class="mt-4 p-5 rounded cor">
    <h1>D</h1>
    <p><b>Dado Estatístico:</b> É um elemento que pertence ao conjuto de dados de uma pesquisa que é chamada de população.</p>

  </div>

  <div class="mt-4 p-5 rounded cor">
    <h1>P</h1>
    <p><b>População:</b> São todos os elementos (dados) que pertecem a uma pesquisa.</p>

  </div>

  <div class="mt-4 p-5 rounded cor">
    <h1>R</h1>
    <p><b>Rol:</b> é uma forma organizar os dados quantitativos em ordem crescente ou decrecente.</p>

  </div>

  <div class="mt-4 p-5 rounded cor">
    <h1>T</h1>
    <p><b>Tabela de distribuição de frequência:</b> É uma tabela que mostra a frequência que cada dado aparece no conjunto de dados.</p>

  </div>

  <div class="mt-4 p-5 rounded cor">
    <h1>V</h1>
    <p><b>Variável:</b> É a característica dos elementos da pesquisa. Pode ser dividido em variaveis qualitativas e quantitativas.</p>

  </div>

   <h2 class="text-center pt-5">Referências</h2>

  <a href="https://brasilescola.uol.com.br/matematica/estatistica-2.htm#Variável%C2%A0%C2%A0%C2%A0" class="pb-5">Brasil escola: "Estatística"</a>

{% endblock conteudo %}