{% extends 'base.html' %}

{% block css%} {% endblock css %}
{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
      <article>
        <h3> COMO DEU INÍCIO O ESTUDO DAS ESTATÍSTICAS?</h3>

        <p>
          Desde a antiguidade os homens já faziam certo registro da humanidade, como número da população, nascimento e óbitos. A estatística surgiu quando governos "líderes", se interessaram em obter informações precisas sobre seus bens, suas riquezas, tributos, população e moradias. Vemos por exemplo o Egito do tempo antigo, onde os faraós já ordenavam registros estatísticos de suas colheitas, para que assim viecem a ter um certo controle dos frutos, retirados após as colheitas. Segundo Confúcio a China já preocupava-se com o crescimento populacional a cerca de 2000 anos atrás, por meio de censos. Ou seja, já utilizavam de meios estatísticos. A partir do século XIV, no início do renascimento na Europa, foi proporcionado novos rumos à estatística, especialmente para melhorar a administração de governos.

          A formalização da estatística descritiva se deu no século XVI, na Itália, mas como já vimos, a muitos anos antes a humanidade já utilizava análise matemática de dados para obter respostas práticas e fazer possíveis projeções. Segundo a fundação fio Cruz, o primeiro pesquisador a cunhar o termo ESTATÍSTICA foi o historiador alemão Gottfried Achenwall, que realizou amplos estudos sobre a disciplina. Alguns anos antes, Blaise Pascal e Pierre de Fermet, dois grandes matemáticos do século XVII, também estudaram a ESTATÍSTICA com desenvolvimento de cálculos de probabilidade, relacionados especialmente com os populares jogos de azar da aristocracia francesa.
        </p>
      </article>
      <h3> QUEM FOI GOTTFRIED ACHENWALL? </h3>
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/07239186-009d-4f88-a220-66858325a990/d3dan4k-bbbd7687-c857-4c37-a92b-a6d3d1f27716.jpg/v1/fill/w_600,h_757,q_75,strp/gottfried_achenwall_by_artigas_d3dan4k-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzU3IiwicGF0aCI6IlwvZlwvMDcyMzkxODYtMDA5ZC00Zjg4LWEyMjAtNjY4NTgzMjVhOTkwXC9kM2RhbjRrLWJiYmQ3Njg3LWM4NTctNGMzNy1hOTJiLWE2ZDNkMWYyNzcxNi5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.mtNFm9x2bqfCioLl_ijInGF2L2r747Go7d0C89jdVGQ" class="mx-auto d-block" style="width:50%">
      <p class="text-center" style="font-size:15px;">Fonte da imagem: <a href="https://www.deviantart.com/artigas/art/Gottfried-Achenwall-203730068">deviantart</a></p>

      <article>
        <p>
          Segundo a wikipédia, Godofredo Achenwal (Elbing, 20 de outubro de 1719 — Göttingen, 1 de maio de 1772) foi um historiador e jurista alemão.

          Foi um dos intelectuais que mais significativamente contribuiu para o desenvolvimento da Statistik - uma ciência que guarda muito poucas relações com a atual estatística, pois concernia à descrição abrangente das características sócio-político-econômicas dos diferentes estados.

          Achenwall estudou nas universidades de Jena, Halle e Leipzig. Em 1748, foi nomeado docente pela Universidade de Göttingen; em 1761, obteria nesta mesma universidade o cargo de professor de direito natural e política.

          A sua obra mais relevante foi o Abriß der neuen Staatswissenschaft der vornehmen Europäischen Reiche und Republiken, publicado em 1749 (título que nas edições subsequentes seria alterado para Staatsverfassung der Europäischen Reiche im Grundrisse).
        </p>

        <h3> ONDE SE APLICA ESTATÍSTICAS HOJE? </h3>
        <article>
          <p>
            Segundo a statplace, A estatística está presente em todos os dias da nossa vida, mesmo que nem sempre seja visível. Previsões da meteorologia, pesquisas eleitorais, algoritmos em todas as redes sociais e até mesmo o resgate de pessoas perdidas no mar depende desta ciência para acontecer com o maior nível de precisão possível.
            Por tanto, utiliza-se estatística em diversas áreas, com propósitos de se obter resultados que possam ser o mais próximo do resultado final possível. Isso é realizado através de dados estatísticos que são obtidos, classificados e armazenados e por sua vez é disponibilizado em diversos sistemas de informação acessíveis a pesquisadores, cidadãos e organizações que podem utilizá-los para desenvolver suas atividades.
          </p>

        </article>

          <h3 class="text-center">Referencias</h3>
            <a href="http://www.juventudect.fiocruz.br/estatistica#:~:text=A%20ESTAT%C3%8DSTICA%20surgiu%20quando%20governos,registros%20estat%C3%ADsticos%20de%20suas%20colheitas">juventudect</a><br />

            <a href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://notasdeaula.files.wordpress.com/2009/08/estatistica-e-sua-historia.pdf&ved=2ahUKEwid-cKI7rn5AhXWvJUCHa-sDM4QFnoECAwQAQ&usg=AOvVaw0itUYYHr4JyUsB1q4DhpoE
">estatistica-e-sua-historia</a><br />

            <a href="https://www.grupoescolar.com/pesquisa/origem-da-estatistica.html">origem-da-estatistica</a><br />

            <a href="https://matematicasimplificada.com/historia-da-estatistica/">historia-da-estatistica</a><br />

            <a href="
https://site.statplace.com.br/blog/a-estatistica-no-dia-a-dia-tudo-esta-nos-numeros/#:~:text=A%20estat%C3%ADstica%20est%C3%A1%20presente%20em,maior%20n%C3%ADvel%20de%20precis%C3%A3o%20poss%C3%ADvel.">tudo está nos números</a><br />

{% endblock conteudo %}