{% extends 'base.html' %}

{% block css%} {% endblock css %}
{% block titulo %}Média{% endblock titulo %}

{% block conteudo %}
<h1 class="text-center">Média</h1>
<p>A média (Me) é calculada somando-se todos os valores de um conjunto de dados e dividindo-se pelo número de elementos deste conjunto.<br>
Como a média é uma medida sensível aos valores da amostra, é mais adequada para situações em que os dados são distribuídos mais ou menos de forma uniforme, ou seja, valores sem grandes discrepâncias.</p>

<h2>Exemplo</h2>

<p>Durante as quatro semanas de um mês, uma pessoa gastou com combustível os seguintes valores: R$ 42,00, R$ 50,00, R$ 48,50, R$ 58,00 respectivamente. Qual o valor médio semanal? </p>
<p> (42 + 50 + 48,5 + 58 )/ 4 = 198,5 / 4 = 49,62. Essa pessoa gastou em média R$ 49,62 por semana.</p>

<h2 class="text-center">Referências</h2>
<a href="https://www.todamateria.com.br/media-moda-e-mediana/">Toda matéria: Média, Moda e Mediana</a>
{% endblock conteudo%}