{% extends 'base.html' %}

{% block css%} {% endblock css %}
{% block titulo %}Mediana{% endblock titulo %}

{% block conteudo %}

<h1 class="text-center">Mediana</h1>
<p>A Mediana (Md) representa o valor central de um conjunto de dados. Para encontrar o valor da mediana é necessário colocar os valores em ordem crescente ou decrescente.</p>
<p>Quando o número elementos de um conjunto é par, a mediana é encontrada pela média dos dois valores centrais. Assim, esses valores são somados e divididos por dois.</p>

<h2>Exemplos</h2>

  <p>→ Número de elementos é Par:</p>
<p>Observe a altura, em centímetros, de oito crianças: 119, 120, 121, 121, 123, 124, 124, 128.
  Termo central: 121 + 123 / 2 = 122 cm </p>

  <p>→  Número de elementos é Ímpar:</p>
<p>Os 9 alunos do 8º ano de uma escola obtiveram as seguintes notas: 5, 5.7, 6.2, 6.2, 7, 8.3, 9, 9, 10. Termo central = 7.</p>

<h2 class="text-center">Referências</h2>
<p><a href="https://www.todamateria.com.br/media-moda-e-mediana/">Toda matéria: Média, Moda e Mediana.</a></p>

<p><a href="https://www.preparaenem.com/matematica/medidas-de-tendencia-central.htm"> Medidas de Tendência Central: Prepara enem: Medidas de Tendência Central.</a></p>
{% endblock conteudo %}