{% extends 'base.html' %}

{% block css%} {% endblock css %}
{% block titulo %}Moda{% endblock titulo %}

{% block conteudo %}

<h1 class="text-center">Moda</h1>
<p>A Moda (Mo) representa o valor mais frequente de um conjunto de dados, sendo assim, para defini-la basta observar a frequência com que os valores aparecem.<br>
Um conjunto de dados é chamado de bimodal quando apresenta duas modas, ou seja, dois valores são mais frequentes.</p>

<h2>Exemplo</h2>

<p>A temperatura média, registrada de hora em hora, da 6h às 12h em uma cidade foram as seguintes: 14 ºC, 18 ºC, 18 ºC, 19 ºC, 22 ºC, 24 ºC, 26 ºC. Podemos notar que a temperatura de 18 ºC se repetiu duas vezes. Dessa forma, dizemos que a moda das temperaturas obtidas é 18 ºC.</p>

<h2 class="text-center">Referências</h2>
<p><a href="https://www.todamateria.com.br/media-moda-e-mediana/">Toda matéria: Média, Moda e Mediana.</a></p>

<p><a href="https://www.preparaenem.com/matematica/medidas-de-tendencia-central.htm"> Medidas de Tendência Central: Prepara enem: Medidas de Tendência Central.</a></p>
{% endblock conteudo %}